@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #1d1d1d;
  --navbar-color: #151414;
  --button-blue: #2177da;
  --hover-green: #49e6b2;
  --text-green: aquamarine;
  --text-h1: whitesmoke;
  --text-title-color: #1ebde4;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  transition: background-color 0.3s, color 0.3s;
  background-color: var(--background-color);
}

body::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}

nav {
  position: sticky;
  top: 0;
  z-index: 100; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--navbar-color);
}

.navbar-left {
  flex: 1;
  color: #f2eded;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: #f2eded;
  text-transform: uppercase;
  text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 20px #b393d3;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 20px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  transition: color 0.3s ease;
}

.nav-link:hover {
  background: #49e6b2;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger i {
  font-size: 24px;
  color: #fff;
}

.hamburger-toggle {
  display: none;
}

@media only screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: var(--navbar-color);
    position: absolute;
    top: 60px;
    right: 20px;
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .hamburger-toggle:checked + .hamburger + .nav-links {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
    text-align: center;
  }

  .hamburger {
    display: block;
  }
}

.main-screen {
  height: 100vh;
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  align-items: center;
}

.text-container {
  flex: 1;
  color: var(--text-h1);
  padding: 20px;
  text-align: left;
}

.title {
  margin-left: 50px;
  margin-right: 50px;
  font-size: 80px;
  background: rgb(210, 91, 228);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 40px;
  }
}

.analyze,
.build {
  color: var(--text-title-color);
}

.subtitle {
  font-size: 16px;
  font-weight: lighter;
  margin-left: 50px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 30px;
  color: #fdfdfe;
  text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 20px #b393d3;
}

.image-container {
  flex: 1;
  text-align: center;
}

.image-container img {
  width: 100%;
  max-width: 500px;
}

.build-button {
  background-color: #2177da;
  color: whitesmoke;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.4s ease;
  margin-left: 50px;
  margin-top: 20px;
  transition: color 0.4s ease, transform 0.4s ease;
}

.build-button:hover {
  background-color: #49e6b2;
  color: black;
  transform: scale(1.06);
}

.image-container {
  animation: imageAnimation 1s ease-in-out infinite alternate;
  pointer-events: none;
}

@keyframes imageAnimation {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-5px);
  }
}

footer {
  background-color: var(--navbar-color);
  text-align: center;
  width: 100%;
  color: white;
  padding: 20px;
}

.footer-content {
  font-size: 18px;
}
